https://jsfiddle.net/br64schg/

<style>
    .main_square {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: yellow;
  border-radius: 8px;
  rotate: 40deg;
}

.inner_square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 190px;
  border: 4px solid black;
  border-radius: 8px;
}

.light_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 150px;
  background-color: #000;
}

.ball {
  width: 41px;
  height: 41px;
  border-radius: 50%;
}

.ball.red {
  background-color: red;
}

.ball.yellow {
  background-color: #ccddee;
}
.ball.green {
  background-color: green;
}
</style>



<div class='main_square'>
  <div class='inner_square'>
    <div class='light_wrap'>
      <div class='ball red'></div>
      <div class='ball yellow'></div>
      <div class='ball green'></div>
    </div>
  </div>
</div>